# Ignore compiled executables (Windows)
*.exe
*.pdf
# Ignore compiled executables (Linux/macOS - no extension)
a.out
*.out
*.bin
*.o
*.obj
*.elf
*/BT  # your compiled binary, if named like that
BT    # direct match, if binary is named "BT"
.env
# Ignore VS Code folder
.vscode/
*.pdf
1RV24MC020_AwaisAhmed/ADA/Kajal's ADA Notes.pdf
